*.o
*.sw[op]
Makefile
Makefile.in
configure
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.in
config.log
config.sub
config.status
src/.deps/
depcomp
src/kal
missing
stamp-h1
install-sh
INSTALL
aclocal.m4
ltmain.sh
